.btn-buy-now {
    border-radius: 23px;
    padding: 10px;
}

.font-size-title {
    font-size: 400%;
}

.font-size-description {
    font-size: 140%;
}

.text-blur {
    opacity: 0.7;
}

.btn-app {
    border-radius: 28px;
    padding: 15px;
}

.btn-font-weight {
    font-weight: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.fix-size-img {
    border-radius: 20px;
}

.diagonal-background {
    position: relative;
    background: rgb(248, 248, 251);
    color: #000000;
    z-index: -1;
}

.diagonal-background:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f8f8fb 0%, #f8f8fb 100%, transparent 50%);
    transform-origin: top left;
    transform: skewY(-5deg);
    z-index: -1;
}

.iphone-wrapper {
    background-color: #f8f8fb;
    border-radius: 30px;
    padding: 10px;
    width: 250px;
    height: 500px;
    margin: 0 auto;
}

.notch {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 20px;
    background-color: #f8f8fb;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.iphone-screen {
    background-color: #f8f8fb;
    border-radius: 20px;
    padding: 5px;
    height: 460px;
}

.horizontal-line {
    width: 5%;
    height: 2px;
    background-color: rgb(0, 81, 255);
    border: none;
}

.color-background {
    background-color: #f8f8fb;
}

.font-size-description-2 {
    font-size: 15px;
}

.size-img-card {
    width: 20%;
}

.card-text {
    color: #000000b7;
}

.diagonal-background-2 {
    position: relative;
    background: rgb(255, 255, 255);
    color: #000000;
}

.diagonal-background-2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff 0%, #ffffff 100%, transparent 50%);
    transform-origin: top left;
    transform: skewY(-5deg);
    z-index: -1;
}
